<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Menu | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/LTE/plugin/fontawesome-free/css/all.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/LTE/plugin/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/LTE/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:void(0);"><span id="headertext">Restaurant User</span> <b>E-Menu</b></a>
        </div>
        <!-- /.login-logo -->



        @RenderBody()

    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/LTE/plugin/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/LTE/plugin/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/LTE/js/adminlte.js"></script>
    <!-- Custom JS -->
    <script src="~/LTE/js/custom.js"></script>

</body>
</html>
