
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Voucher Setup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Voucher Setup</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h3 class="card-title float-left">List</h3>
                                </div>
                                <div class="col-lg-2">
                                    <a asp-action="Index" asp-controller="VoucherSetup" role="button" class="btn btn-primary float-right">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="voucherSetupList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Usage</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th class="no-sort text-center">
                                            <select id="status-select">
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                                <option value="All">All</option>
                                            </select>
                                        </th>
                                        <th class="no-sort" style="text-align:center;">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-voucher-setup" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the selected voucher setup?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal" onclick="onDeleteConfirm()">Yes</button>
                <button type="button" class="btn btn-outline-light" data-dismiss="modal" onclick="onDeleteNo()">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/custom-script/VoucherSetup.js"></script>
}

